*{

    border: 0px solid black;
    padding: 0;
    margin: 0;

}

body{
    
    background-color: white; 
    backdrop-filter: blur(1px);
    background-image: url(Imagens/Logomarca-COMA-MAIS-sem-fundo-HD.png);
    background-repeat: repeat;
    background-size: cover;
    margin-bottom: 50px;
    padding: 90px;

}

#header{

    background-color: rgb(38, 66, 224);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;

}

#header img{

    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;

}

#h1-header{

    color: rgb(248, 237, 212);
    font-size: arial;
    padding-left: 5px;  
    padding-top: 3px;
    padding-bottom: 1px; 

}

.h3-header{

    color: #fff;
    font-size: arial;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 1px;

}

.link-cabeçalho{

    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    word-spacing: 0px;
    font-weight: 800;
    font-size: 16px;
    font-family: arial;
    cursor: pointer;
    border-radius: 5px;
    
    
   

}

.link-cabeçalho:hover{

border: 2px solid rgb(9, 4, 80);
    

}

.link1{

position: fixed;
left: 430px;

}

.link2{

position: fixed;
left: 500px;


}

.link3{

position: fixed;
right: 570px;

}

.link4{

position: fixed;
right: 500px;

}

.logofix{

position: fixed;
right: 650px;

}


#navegação{

    text-align: right;
    padding-right: 5px;

}

.section-1{

    color: #fff;
    background-color: red;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    height: 160px;
    border-radius: 12px;

}

.h2-section1{

    font-family: arial;
    font-size: 25px;
    padding-top: 27px;

}

.p1{

    padding-top: 13px;
    font-family: arial;
    font-size: 22px;

}

.descricao{

    width: 70px;
    height: 70px;
    color: black;
    background-color: grey;

}

.alinhamento{

    align-items: center;
    justify-content: center;
    display: flex;
    top: 50%; 
    left: 50%; 

}

.rodape{

    border-radius: 1000px 1000px 0px 0px;
    background-color: rgb(38, 66, 224);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.quadro{

    box-shadow: -8px 8px 0px rgba(0, 0, 0, 0.8);
    background-color: red;
    border-radius: 10px;
    height: 820px;
    width: 60%;
    margin-left: 10px;
    margin-top: 10px;

}

.end{

    align-items: flex-end;
    justify-content: center;
    display: flex;

}

.q2{

    align-items: center;
    padding-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    height: 170px;
    background-color: white;

}

.tituloagr{

    font-weight: 600;
    font-size: 10;
    color: white;
    background-color: red;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

}

.menu-detalhado{

    font-weight: 600;
    font-size: 10;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: -20px;

}

.produtos{

    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
    height: 110px;

}

.tp{

    font-weight: 600;
    font-size: 10;
    color: white;
    background-color: red;
    text-align: center;
    margin-top: -3px;

}

.produtos img{

    width: 100px;
    height: 60px;
    margin-top: -5px;

}

