
.cardapio {
  border: solid black 2px;
  width: 800px;
  height: 1700px;
  border-radius: 10px;
  box-shadow: -2px 2px 4px black;
  margin-top: 50px;
  background: url(Imagens/cardápio.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

@media (max-width:900px){/*RESPONSIVIDADE PARA O CARDÁPIO*/

  .cardapio{

    width: 600px;
  }

}

@media (max-width:600px){/*RESPONSIVIDADE PARA O CARDÁPIO*/

  .cardapio{

    width: 400px;
    height: 1800px;
  }

}
