.cardapio {
  width: 800px;
  height: auto;
  border-radius: 10px;
  box-shadow: -2px 2px 4px black;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

@media (max-width:600px){/*PARA AJUSTE DO CARDÁPIO DE FUNDO*/

  .cardapio{

    background-size: cover;
    background-position: center;
    width: auto;

  }

}

*{

  border: 0px solid black;
}

@media (max-width:600px){/*PARA CORREÇÃO RESPONSIVA*/

  .correcao{

    text-indent: -22px;
    margin-left: 4px;

  }

}

.cabeçalho_cardápio {
  border-radius: 10px 10px 0px 0px;
  flex-grow: 0;
  height: 380px;
  width: 100%;
  background-image: url(Imagens/cabeçalho\ cardápio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.tabela_cardápio {
  flex-grow: 0;
  height: auto;
  width: 100%;
  background-color: rgba(241, 233, 216, 255);
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.rodape_cardápio {
  border-radius: 0px 0px 10px 10px;
  flex-grow: 0;
  height: 200px;
  width: 100%;
  background-image: url(Imagens/rodapé\ cardápio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.divisoria_Di {
  background-color: rgba(241, 233, 216, 255);
  width: 50%;
  height: auto;
  border-right: solid rgb(34, 72, 123) 1px;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 25px;
  margin-bottom: 25px;
}

.divisoria_Es {
  background-color: rgba(241, 233, 216, 255);
  width: 50%;
  height: auto;
  border-left: solid rgb(34, 72, 123) 1px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (max-width:600px){

.divisoria_Es{

  width: 55%;

}

}

.divisoria_Di .titulos {
  color: rgb(34, 72, 123);
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 10%;
}

.divisoria_Es .titulos {
  color: rgb(34, 72, 123);
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10%;
}

@media (max-width:600px){

   .titulos{
    
    margin-right: 10px;

  }

}

.divisoria_Di table {
  height: auto;
  width: 80%;
  margin-right: 30px;
  margin: 0 auto;
}

.divisoria_Es table {
  height: auto;
  width: 80%;
  margin-left: 30px;
  margin: 0 auto;
}

.divisoria_Es table tr td {
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media (max-width:600px){

td{

width: 150px;
text-align: center;

}

}

.divisoria_Di table tr td {
  display: flex;
  flex-direction: column;
  align-items: end;
}

tr {
  margin-bottom: 10px;
  display: block;
  
}

tr:last-child {
  margin-bottom: 0;
}

.preço {
  font-weight: 600;
}

.di_img {
  margin-top: 50px;
  margin-left: 50px;
  height: 350px;
  width: 300px;
  background-color: rgb(34, 72, 123);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.QR_code {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.btn_pedido {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 230px;
  background-color: #25d366;
  border-radius: 50px;
}

.btn_pedido i {
  margin-right: 10px;
}

.btn_pedido:hover {
  animation-name: up;
  transition: 2s;
  animation-timing-function: ease;
  animation-duration: 0.5s;
}

@keyframes up {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 900px) {
  /*RESPONSIVIDADE PARA O CARDÁPIO*/

  .cardapio {
    width: 600px;
  }
}

@media (max-width: 600px) {
  /*RESPONSIVIDADE PARA O CARDÁPIO*/

  .cardapio {
    width: 400px;
    height: 1800px;
  }
}
