* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(Imagens/fundo\ cubano\ opaco.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 100px 0;
  margin: 0;
  font-family: "Open Sans", "Lato", sans-serif;
}

input {
  outline: 0 none;
  display: flex;
  background-color: white;
  border-radius: 5px;
  border: 3px solid white;
  font-size: 100%;
  width: 250px;
  height: 40px;
  cursor: text;
  margin: 0;
}

@media (max-width: 1000px) {
  /*RESPONSIVIDADE DO INPUT E-mail*/

  input {
    width: 200px;
  }
}

@media (max-width:600px){ /*RESPONSIVIDADE DO INPUT E-mail*/

input{

  width: 190px;
}

}

form {
  border-radius: 15px;
  background-color: transparent;
  height: 600px;
  width: 60%;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media (max-width: 900px) {
  /*RESPOSNSIVIDADE DA CONFIGURAÇÃO FORM*/

  form {
    height: 420px;
    width: 100%;
    
  }
}


@media (max-width: 900px) {
  /*RESPONSIVIDADE DA CONFIGURAÇÃO L_Esc*/

  .L_Esc {
    width: 35%;
  }
}

.btn_back {
  transition: all 5s ease 0;
  background-color: rgb(38, 66, 224);
  text-align: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  animation-name: animacao;
}

div {
  border: solid black 0px;
}

a {
  text-decoration: none;
}

.men-delivery {
  display: none;
  width: 80px;
  background-color: rgb(9, 4, 80);
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
}

.btn_back:hover .men-delivery {
  display: block;
  position: absolute;
}

.a1 {
  background-color: rgb(9, 4, 80);
  color: white;
}

.a1:hover {
  /*Apenas para teste*/

  color: aquamarine;
}

.a1-div {
  text-align: center;
  width: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.img_login {
  width: 215px;
  height: 215px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2px;
  padding: 0;
}

@media (max-width:900px){/*RESPONSIVIDADE PARA A LOGO/IMAGEM DO LOGIN*/

  .img_login{

    width: 150px;
    height: 150px;
    margin-top: 5px;
  }

}

@media (max-width:900px){/*RESPONSIVIDADE DA CONFIGURAÇÃO inp_di*/

    .inp_di{

        width: 95%;
        
    }

}

.T_input {
  cursor: auto;
  color: white;
  margin-bottom: -30px;
  font-size: small;
}

.input_Tel {
  outline: 0 none;
  display: flex;
  background-color: white;
  border-radius: 5px;
  border: 3px solid white;
  font-size: 100%;
  width: 200px;
  height: 40px;
  margin-top: 2px;
  letter-spacing: normal;
  cursor: text;
  margin: 0;
}

@media (max-width:600px){ /*RESPONSIVIDADE DOS INPUTS input_Tel*/

.input_Tel{

  width: 190px;
}

}

.L_Esc {
  box-shadow: -5px 8px 0px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(28, 40, 66);
  width: 45%;
  height: 80%;
  border-radius: 10px 0px 0px 10px;
  z-index: 1;
}

@media (max-width: 900px) {
  /*RESPONSIVIDADE DA CONFIGURAÇÃO L_Esc*/

  .L_Esc {
    width: 35%;
  }
}

.btn_back {
  transition: all 5s ease 0;
  background-color: rgb(28, 40, 66);
  text-align: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  animation-name: animacao;
}

.div_btn_back {
  width: 87%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  bottom: 0;
}

.di_inputs {
  box-shadow: -5px 8px 0px rgba(0, 0, 0, 0.8);
  border-radius: 0px 10px 10px 0px;
  background-color: rgb(141, 27, 34);
  width: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inp_di {
  width: 87%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

@media (max-width: 900px) {
  .inp_di {
    width: 95%;
  }
}

.inp_di-btn {
  background-color: rgb(141, 27, 34);
  width: 87%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.input_Enter {
  transition: all 5s ease 0;
  background-color: rgb(28, 40, 66);
  border: 3px solid rgb(28, 40, 66);
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  animation-name: animacao;
  display: flex;
  border-radius: 5px;
  font-size: 100%;
  width: 75px;
  height: 40px;
  margin: 0;
}

.T_input {
  cursor: auto;
  color: white;
  margin-bottom: -30px;
  font-size: small;
}

.di_T_input {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
  width: 70px;
  justify-content: left;
  display: flex;
  margin-bottom: 15px;
}

.login_T {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
  margin-bottom: -90px;
  color: white;
  font-size: 1.7rem;
  font-weight: 900;
  text-align: center;
  display: block;
  margin-block-start: 2.23em;
  margin-block-end: 0em;
  animation: up 1s;
}

@media (max-width:900px){/*RESPONSIVIDADE PARA O TÍTULO SUPERIOR DO LOGIN*/

  .login_T{

    margin-top: 1px;
    font-size: 24px;

  }

}

.Acess_T {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
  margin-left: -3px;
  color: white;
  font-weight: 900;
  margin-bottom: 0.5rem;
  text-align: center;
  display: block;
  font-size: 0.9em;
  unicode-bidi: isolate;
}

.Bot_acess {
  transition: all 5s ease 0;
  background-color: #081c72;
  border: 3px solid #081c72;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px 0;
  padding: 10px;
  animation-name: animacao;
  margin: 0;
}

.flex-grow {
  flex-grow: 1;
}

.Bot_acess:hover {
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes animacao {
  0% {
    background-color: #081c72;
  }
  50% {
    background-color: rgb(29, 15, 155);
  }
  100% {
    background-color: #081c72;
  }
}

@keyframes up {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

h4 {
  animation: up 1s step-start;
  animation-delay: 0.1s;
}

@keyframes animacao {
  0% {
    background-color: #081c72;
  }
  50% {
    background-color: rgb(29, 15, 155);
  }
  100% {
    background-color: #081c72;
  }
}

@keyframes up {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

h4 {
  animation: up 1s step-start;
  animation-delay: 0.1s;
}

input:focus {
  transition: all 1s;
  border: 3px solid #081c72;
  background-color: white;
}
