*{

    border: 0px solid black;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body{

    background-color: rgb(255, 255, 255); 
    backdrop-filter: blur(1px);
    background-image:  url(Imagens/logorestaurante\ copy.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-size: 100% 100%;
    margin: 0px;
    
    


}

.body-sobre{

    background-color: white, linear-gradient(rgba(20,20,20,0.7), rgba(100,100,100,0.3)); 
    backdrop-filter: blur(1px);
    background-image: url(Imagens/Logomarca-COMA-MAIS-sem-fundo-HD.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    justify-content: center;
   

}

.T-sobre{

    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    top: 50%; 
    left: 50%; 
    width: 100%;
    margin-top: 50px;

}

.alinhamento{

    align-items: center;
    justify-content: center;
    display: flex;
    top: 50%; 
    left: 50%;

}

.alinhamento-dir{

    align-items: center;
    justify-content: right;
    display: flex;
    margin-right: 10px;
    top: 50%; 
    left: 50%; 

}

#header{

    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.8);
    background-color: rgb(38, 66, 224);
    z-index: 1;
    position: relative;
    top: 0px;
    width: 100%;
    padding: 5px;

}

#header img{

    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;

}

.h1-header{

    color: #fff;
    font-size: arial;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 1px;

}

.link-cabeçalho{

    text-decoration: none;
    color: #fff;
    margin-right: 5px;
    word-spacing: 5px;
    font-size: 16px;
    font-family: arial;
    cursor: pointer;

}

.p1{

    padding-top: 13px;
    font-family: arial;
    font-size: 22px;

}

.descricao{

    width: 70px;
    height: 70px;
    color: black;
    background-color: grey;

}

.quadro{

    background-color: rgb(38, 66, 224);
    height: 1450px;
    width: 59%;
    margin-top: 10px;
    margin-left: 15px;


}

.q2{

    padding-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    height: 170px;
    background-color: rgb(180, 161, 161);

}

.lg1{

    font-size: 18px;
    position: absolute;
    left: 550px;

}

.lg2{

font-size: 18px;
position: absolute;
left: 550px;
bottom: 1125px;

}

.lg3{

    font-size: 18px;
    position: absolute;
    left: 550px;
    bottom: 1070px;

}

.lg4{

    font-size: 18px;
    position: absolute;
    left: 750px;
    top: 370px;
    border-radius: 10px;

}

.qdescri{

    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
    width: 81%;
    height: 110px;
    background-color: red;
    color: white;

}

.tituloagr{

    font-weight: 600;
    font-size: 10;
    color: black;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 10px;
    text-align: left;

}

.menu-detalhado{

    font-weight: 600;
    font-size: 10;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: -20px;

}

.produtos{

    text-align: center;
    margin-left: 10px;
    margin-top: 5px;
    width: 100px;
    height: 110px;
    background-color: red;

}

.tp{

    font-weight: 600;
    font-size: 10;
    color: white;
    background-color: red;
    text-align: center;

}

.produtos img{

    border-style: solid;
    border-color: red;
    border-width: 3px;
    width: 100px;
    height: 105px;

}

.preço{

    margin-left: 450px;
    margin-top: 65px;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: black;
    text-align: center;
    width: 60px;

}

.block{

    display: block;
    margin-left: auto;
    margin-right: auto;

}

.titulo{

font-size: 20px;
color: red;
background-color: white;
height: 40px;
width: 20%;
text-align: center;
align-items: center;
justify-content: center;
font-weight: 800;
margin-bottom: 100px;

}

.cama{

width: 1000px;
height: 35px;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
background-color: black;
color: white;
position: absolute;
border-radius: 10px;
flex-grow: 0;
bottom: 0;

}

.div-text{

width: 600px;
height: auto;
background-color: rgb(165, 15, 15);
box-shadow: -5px 8px 0px rgba(0, 0, 0, 0.8);
align-items: center;
border-radius: 5px;
font-size: 17px;
color: white;
margin-bottom: 50px; 
display: flex;

}

.descricao_sobre{

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.div-text:hover{ /*Quero empregar este efeito, mas não está funcionando*//*Animation*/

    animation-name: anime;
    animation-duration: 1s;
    animation-iteration-count: 2;
}

@keyframes anime{

    0% {left: 0px;}
    25% {left: 5px;}
    50% {left: 0px;}
    75% {left: 5px;}
    100% {left: 0px;}


}

.quadro1{

height: 455px;
display: flex;
justify-content: center;

}

.itemt{

     /*Cor apenas para teste*/
    height: 305px;
    width: 300px;
    position: relative;
    top: 12px;
    border-radius: 5px;
    background-image: url(Imagens/Ajiaco.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 300px 305px;
    box-shadow: rgb(182, 182, 182) -5px 5px; /*Para efeito de sombra*/
     /**/
    

}

.item1{ /*Coloquei várias classes por conta das imagens*/


height: 305px;
width: 300px;
position: relative;
top: 12px;
border-radius: 5px;
background-image: url(Imagens/Arroz\ conpollo.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-size: 300px 305px;
box-shadow: rgb(182, 182, 182) -5px 5px; /*Para efeito de sombra*/


}

.item2{

    background-color: rgb(30, 5, 255);
    height: 305px;
    width: 300px;
    position: relative;
    top: 12px;
    border-radius: 5px;
    background-image: url(Imagens/ropa.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 300px 305px;
    box-shadow: rgb(182, 182, 182) -5px 5px; /*Para efeito de sombra*/
   
    
    }

    .item3{

        background-color: rgb(30, 5, 255);
        height: 305px;
        width: 300px;
        position: relative;
        top: 12px;
        border-radius: 5px;
        background-image: url(Imagens/tamales.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 300px 305px;
        box-shadow: rgb(182, 182, 182) -5px 5px; /*Para efeito de sombra*/
        
       
        
        }

.subt{

background-color: orange;
height: 30px;
width: 300px;
border-radius: 5px;
text-align: center;
font-family: cursive;
font-size: 20px;

}

.w{

height: 140px;
width: 130px;
position: absolute;
top: 520px;
text-align: center;


}

.bot{

height: 20px;
width: 100px;
background-color: green;
border-radius: 2px; 
font-family: cursive;
padding: 1px;
}

.botf{

height: 20px;
width: 150px;
background-color: green;
border-radius: 2px;
font-family: cursive;
padding: 1px;
color: white;

}


.sb{

background-color: rgb(252, 67, 67);
color: white;
border-radius: 10px;
padding: 5px;
width: 50px;
transition:  width 2s; /*Efeito de transição*/
}

.sb:hover{

cursor: pointer;
background-color: rgb(196, 51, 51); /*Efeito para o mouse*/
width: 90px;

}


.sb1{

display: none;
width: 300px;
height: 200px;
position: absolute;
top: 1px;
background-color: green;
color: white;
border-radius: 10px;
transition: width 4s;


}


.sb:hover .sb1{              /*Efeito para o mouse*/
    
display: inline-block;
cursor: auto;

}

/*Para o botão "voltar"*/
.btn_back{

    transition: all 5s ease 0;
    background-color: rgb(38, 66, 224);
    text-align: center;
    justify-content: center;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;

}

.men-delivery{

display: none;
width: 80px;
background-color: rgb(38, 66, 224);
border-radius: 5px;


}

.btn_back:hover .men-delivery{


display: block;
position: absolute;

}

.a1:hover{ /*Apenas para teste*/

   color: aquamarine;
  

}

.div_btn_back{ /**/

    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    bottom: 0;

}

a{

    text-decoration: none;
    color: white;
}

