* {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 27, 34);

}

h1{

    color: white;
    margin-top: 20px;
    margin-bottom: 20px;

}

table{

    justify-content: left;
    background-color: rgb(28, 40, 66);
    width: 90%;
    height: auto;
    border: solid 2px black;

}

table tr{

    width: 100%;
    height: 50px;
    border: solid black 2px;

}

table tr td{

    margin-left: 10px;
    margin-right: 10px;
    color: white;
    border: solid black 2px;
    text-align: left;

}

table tr th{

    border: solid black 2px;
    color: white;

}

.conteudo{

    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid white 2px;

}