* {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 27, 34);

}

table{

    display: flex;
    justify-content: left;
    background-color: rgb(28, 40, 66);
    width: 90%;
    height: auto;
    border: solid 2px black;

}

table tr{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border: solid black 2px;

}

table tr td{

    width: 100%;
    margin-left: 10px;
    color: white;
    border: solid black 2px;
    text-align: left;

}

.conteudo{

    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid white 2px;

}