* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 260vh;
  background-color: rgb(141, 27, 34);
}

a {
  text-decoration: none;
  color: white;
}

main {
  flex-grow: 1;
  text-align: center;
  background-repeat: repeat;
  background-size: cover;
  margin-top: 0;
  height: 200vh;
  display: flex;
  align-items: start;
}

footer {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
  background-color: rgb(28, 40, 66);
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px 0;
  flex-grow: 0;
}

@media (max-width: 900px) {
  footer {
    width: 100%;
  }
}

footer section {
  margin-top: 25px;
  margin-bottom: 25px;
}

img {
  border-radius: 10px;
  object-fit: cover;
  height: 500px;
  width: 600px;
}

.alinhamento_main {
  align-items: center;
  margin-top: 140px;
  padding: 0;
  flex-direction: column;
}

.div_slider {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  height: 500px;
  width: 100%;
}

@media (max-width: 900px) {
  /*RESPONSIVIDADE PARA AS IMAGENS ROLADAS*/

  .div_slider {
    height: 400px;
    /*width: 50%;*/
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  /*RESPONSIVIDADE PARA AS IMAGENS ROLADAS*/

  .div_slider {
    height: 750px;
    margin-top: 40px;
  }
}

.borda {
  border: 3px solid black;
}

#header_Delivery {
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.8);
  background-color: rgb(28, 40, 66);
  z-index: 1000;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 1rem 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

#header_Delivery img {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.header-content {
  width: 90%;
  justify-content: space-between;
}

.h1-header {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: arial;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 1px;
}

.men-delivery {
  display: none;
  width: 80px;
  background-color: rgb(9, 4, 80);
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
}

.btn_back:hover .men-delivery {
  display: block;
  position: absolute;
}

.btn_back {
  transition: all 5s ease 0;
  background-color: rgb(28, 40, 66);
  text-align: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
}

.btn_back_menu {
  transition: all 5s ease 0;
  background-color: rgb(28, 40, 66);
  text-align: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
}

.div_btn_back {
  /**/

  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  bottom: 0;
}

.a1 {
  background-color: rgb(9, 4, 80);
}

.a1:hover {
  /*Apenas para teste*/

  color: aquamarine;
}

.a1-div {
  text-align: center;
  width: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.recepicão_tela_Inicial {
  width: 100%;
  position: relative;
  z-index: 1;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
  color: rgb(28, 40, 66);
}

@media (max-width: 900px) {
  /*FUNCIONALIDADE RESPONSIVA PARA .recepicão-tela_inicial*/

  .recepicão_tela_Inicial {
    font-size: 23px;
  }
}

.link-cabeçalho {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  font-size: 16px;
  font-family: arial;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 5px 2px;
}

.link-cabeçalho:hover {
  background-color: rgb(9, 4, 80);
  text-decoration: none;
  color: #fff;
  padding: 5px 2px;
  font-weight: 800;
  font-size: 16px;
  font-family: arial;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 12px;
  margin-right: 12px;
}

.alinhamento {
  align-items: center;
  justify-content: center;
  display: flex;
  top: 50%;
  left: 50%;
}

.alinhamento_flexdirection {
  align-items: center;
  justify-content: center;
  display: flex;
  top: 50%;
  left: 50%;
  flex-direction: column;
}

.block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.redes-so {
  display: flex;
  color: #fff;
  align-items: center;
}

.redes-so a {
  margin-left: 15px;
}

.slider {
  box-shadow: -2px 2px 4px black;
  overflow: hidden;
  height: 500px;
  width: 600px;
  border-radius: 10px;
}

@media (max-width: 900px) {
  /*APLICAÇÃO DE RESPONSIVIDADE PARA .silder*/

  .slider {
    width: 400px;
    height: 500px;
  }
}

.slides {
  border-radius: 10px;
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}
